body {
    background: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Nome do logo a esquerda */
.brand {
    float: left;
}

/* Add o black no background color na top navigation */
.topnav {
    
    background-color: transparent;
    overflow: hidden;
    border-bottom: 1px solid #0a0a0a;
    background-color: rgb(10, 241, 10);
}

/* Estilo dos links dentro da barra de navegação */
.topnav a {
    float: right;
    display: block;
    color: #0c0c0c;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 17px;
}

/* Alterar a cor dos links ao passar o mouse */

/* Adicionar uma turma ativa para destacar a página atual */
.topnav a.active {
    background-color: transparent;
    color: rgb(12, 12, 12);
}



/* Ocultar o link que deve abrir e fechar o topnav em telas pequenas */
.topnav .icon {
    display: none;
}

h1 {
    text-align: center;
}

form {
    /* Apenas para centralizar o form na página */
    margin: 15vh;
    height: 400px;
    width: 50%;
    margin-left: 55vh;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #0a0a0a;
    border-radius: 1em;
}

form h1 {
    text-align: center;
    padding-top: 15%;
}

button {
    margin-top: 15%;
    margin-left: 18em;
    width: 5em;
    height: 3em;
    background-color: rgb(10, 241, 10);
    border-radius: 6%;
    cursor: pointer;
}

button:hover{
    background-color: rgb(5, 138, 5);;
}

