.navbar {
  /* --bs-success-rgb: 20, 300, 14;*/
  background-color: rgba(49, 75, 122);
  border-bottom: 1px solid #0a0a0a;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* margin: 20px;*/
}

/*Nome do logo a esquerda */
.brand {
  float: left;
}

/* Add o black no background color na top navigation */
.topnav {
  background-color: transparent;
  overflow: hidden;
  border-bottom: 1px solid #0a0a0a;
  background-color: rgb(10, 241, 10);
}

/* Estilo dos links dentro da barra de navegação */
.topnav a {
  float: right;
  display: block;
  color: #0c0c0c;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 17px;
}

/* Alterar a cor dos links ao passar o mouse */

/* Adicionar uma turma ativa para destacar a página atual */
.topnav a.active {
  background-color: transparent;
  color: rgb(12, 12, 12);
}



/* Ocultar o link que deve abrir e fechar o topnav em telas pequenas */
.topnav .icon {
  display: none;
}

h1 {
  text-align: center;
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  padding: 4px;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: black;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: rgba(102, 134, 193);
  text-decoration: none;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead {
  background-color: #f2f2f2;
}

a.disabled {
  pointer-events: none;
  text-decoration: none;
}