.navbar {
  /* --bs-success-rgb: 20, 300, 14;*/
  background-color: rgba(49, 75, 122);
  border-bottom: 1px solid #0a0a0a;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
  color: white;
  text-decoration: none;
}

.logo:hover {
  color: #ffffff;
  text-decoration: none;
}

#topo:hover {
  background-color: #ffffff;

}

#img1 {

  margin-left: 20em;
  margin-top: 1%;
  width: 30vh;
  height: 30vh;
}

#img2 {
  margin-left: 20em;
  margin-top: 20vh;
  /* Aumentamos a margem superior para posicionar abaixo da img1 */
  width: 30vh;
  height: 30vh;
}

#img3 {
  margin-right: 20em;
  margin-top: 1%;
  width: 30vh;
  height: 30vh;
}

#i1 {
  text-align: right;
  color: black;
  position: absolute;
  left: 24%;
  padding: 2vh;
  margin-top: 30vh;
  font-size: 3vh;
  text-decoration: none;
  cursor: pointer;
}

#i1:hover {
  color: blue;
}

#i2 {
  text-align: right;
  color: black;
  position: absolute;
  left: 22%;
  padding: 2vh;
  margin-top: 80vh;
  font-size: 3vh;
  text-decoration: none;
  cursor: pointer;
}

#i2:hover {
  color: blue;
}

#i3 {
  text-align: left;
  color: black;
  position: absolute;
  right: 24%;
  padding: 2vh;
  margin-top: 30vh;
  font-size: 3vh;
  text-decoration: none;
  cursor: pointer;
}

#i3:hover {
  color: blue;
}

#topo:hover {
  background-color: #ffffff;
}